<div class="banner">
	<div class="carousel">
		<div class="image">
			<img src="{{ asset('image/banniere.jpg') }}" alt="">
			<img src="{{ asset('image/banniere5.jpg') }}" alt="">
			<img src="{{ asset('image/banniere10.jpg') }}" alt="">
			<img src="{{ asset('image/banniere6.jpg') }}" alt="">
			<img src="{{ asset('image/banniere9.jpg') }}" alt="">
			<img src="{{ asset('image/banniere1.jpg') }}" alt="">
		</div>
	</div>
	<div class="form">
		<form action="" class="formone">
			<div class="checkbox">
				<label for="">House</label>
				<input type="checkbox">
			</div>
			<div class="checkbox">
				<label for="">Apartement</label>
				<input type="checkbox">
			</div>
		</form>
		<form action="" class="formtwo">
			<div class="checkbox">
				<label for="">Sale</label>
				<input type="checkbox">
			</div>
			<div class="checkbox">
				<label for="">Rent</label>
				<input type="checkbox">
			</div>
		</form>
		<form action="" class="formthree">

			<input type="text" placeholder="Localisation...">
			<input type="text" placeholder="PriceMin...€">
			<input type="text" placeholder="PriceMax...€">
			<input type="text" placeholder="Surface...m²">


			<button class="btn" type="submit">Search</button>
		</form>

	</div>


</div>
